<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
<link rel="fluid-icon" href="{{ "/assets/img/pikanote.png" | relative_url }}">
<link rel="apple-touch-icon" href="{{ "/assets/img/pikanote.png" | relative_url }}">
<link rel="icon" href="{{ "/assets/img/pikanote.png" | relative_url }}">
<meta name="msapplication-TileImage" content="{{ "/assets/img/pikanote.png" | relative_url }}">
<meta name="msapplication-TileColor" content="#ff7f00">
<meta name="theme-color" content="#ff7f00">

{% seo title=false %}